p{
    margin-top:0;
    margin-bottom:0;
    margin-left: 10px;
}
.first{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.second{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    width: 440px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
}
.second-span{
    color: red;
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.slogan{
color: gray;
line-height: 15px;
margin-bottom: 20px;
}
.content{
font-size: 19px;
width: 300px;
line-height: 25px;
margin-bottom: 15px;
}
.course{
margin-left: 10px;
color: white;
background-color: green;
border: none;
border-radius: 7px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
}
.shopping{
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
font-weight: bold;
text-align: center; 
}
.s-second{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin-top: 10px;
}
.s-third{
margin-top: 10px;
color: blue;
text-align: center;
}